node_modules
.git
.env
.env.*
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
public/storage
vendor
bootstrap/cache/*
.phpunit.result.cache
