@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
    --font-sans:
        'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@layer base {
    :root {
        --background: #ffffff;
        --foreground: #020817;
        --card: #ffffff;
        --card-foreground: #020817;
        --popover: #ffffff;
        --popover-foreground: #020817;
        --primary: #0a1c4c;
        --primary-foreground: #f8fafc;
        --secondary: #f1f5f9;
        --secondary-foreground: #0a1c4c;
        --muted: #f8fafc;
        --muted-foreground: #64748b;
        --accent: #f1f5f9;
        --accent-foreground: #0a1c4c;
        --destructive: #ef4444;
        --destructive-foreground: #f8fafc;
        --border: #e2e8f0;
        --input: #e2e8f0;
        --ring: #0a1c4c;
        --chart-1: #0a1c4c;
        --chart-2: #3b82f6;
        --chart-3: #f59e0b;
        --chart-4: #10b981;
        --chart-5: #8b5cf6;
        --sidebar: #0a1c4c;
        --sidebar-foreground: #f8fafc;
        --sidebar-primary: #f8fafc;
        --sidebar-primary-foreground: #0a1c4c;
        --sidebar-accent: #1e293b;
        --sidebar-accent-foreground: #f8fafc;
        --sidebar-border: #1e293b;
        --sidebar-ring: #3b82f6;
        --font-sans: Inter;
        --font-serif: Georgia;
        --font-mono: monospace;
        --radius: 0.5rem;
        --shadow-2xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.05);
        --shadow-xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.05);
        --shadow-sm: 0px 4px 10px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
        --shadow: 0px 4px 10px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
        --shadow-md: 0px 4px 10px 0px hsl(0 0% 0% / 0.10), 0px 2px 4px -1px hsl(0 0% 0% / 0.10);
        --shadow-lg: 0px 4px 10px 0px hsl(0 0% 0% / 0.10), 0px 4px 6px -1px hsl(0 0% 0% / 0.10);
        --shadow-xl: 0px 4px 10px 0px hsl(0 0% 0% / 0.10), 0px 8px 10px -1px hsl(0 0% 0% / 0.10);
        --shadow-2xl: 0px 4px 10px 0px hsl(0 0% 0% / 0.25);
        --tracking-normal: normal;
        --spacing: 0.25rem;
    }

    .dark {
        --background: #020817;
        --foreground: #f8fafc;
        --card: #020817;
        --card-foreground: #f8fafc;
        --popover: #020817;
        --popover-foreground: #f8fafc;
        --primary: #3b82f6;
        --primary-foreground: #f8fafc;
        --secondary: #1e293b;
        --secondary-foreground: #f8fafc;
        --muted: #1e293b;
        --muted-foreground: #94a3b8;
        --accent: #1e293b;
        --accent-foreground: #f8fafc;
        --destructive: #7f1d1d;
        --destructive-foreground: #f8fafc;
        --border: #1e293b;
        --input: #1e293b;
        --ring: #3b82f6;
        --chart-1: #3b82f6;
        --chart-2: #0a1c4c;
        --chart-3: #f59e0b;
        --chart-4: #10b981;
        --chart-5: #8b5cf6;
        --sidebar: #020817;
        --sidebar-foreground: #f8fafc;
        --sidebar-primary: #3b82f6;
        --sidebar-primary-foreground: #f8fafc;
        --sidebar-accent: #1e293b;
        --sidebar-accent-foreground: #f8fafc;
        --sidebar-border: #1e293b;
        --sidebar-ring: #3b82f6;
        --font-sans: Inter;
        --font-serif: Georgia;
        --font-mono: monospace;
        --radius: 0.5rem;
        --shadow-2xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.05);
        --shadow-xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.05);
        --shadow-sm: 0px 4px 10px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
        --shadow: 0px 4px 10px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
        --shadow-md: 0px 4px 10px 0px hsl(0 0% 0% / 0.10), 0px 2px 4px -1px hsl(0 0% 0% / 0.10);
        --shadow-lg: 0px 4px 10px 0px hsl(0 0% 0% / 0.10), 0px 4px 6px -1px hsl(0 0% 0% / 0.10);
        --shadow-xl: 0px 4px 10px 0px hsl(0 0% 0% / 0.10), 0px 8px 10px -1px hsl(0 0% 0% / 0.10);
        --shadow-2xl: 0px 4px 10px 0px hsl(0 0% 0% / 0.25);
    }


}



@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}
